h1{
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
  
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 100dvw;
}

input{
  width: 20rem;
  padding: 10px;
  border: 2px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  
}

button{
  padding: 10px;
  border: 2px solid black;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  
}
button:hover{
  cursor:pointer;
  background: #f2f2f2;
}

input:focus, input:focus + button{
  outline: none;
  transform:scale(1.05)
}

input, button{
  transition: all 0.3s ease;
}