body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    overflow-x: hidden;

}
h1{
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
  
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 100dvw;
  padding: 0;
}

input{
  width: 20rem;
  padding: 10px;
  border: 2px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  
}

button{
  padding: 10px;
  border: 2px solid black;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  
}
button:hover{
  cursor:pointer;
  background: #f2f2f2;
}

input:focus, input:focus + button{
  outline: none;
  transform:scale(1.05)
}

input, button{
  transition: all 0.3s ease;
}

ul{
  list-style: none;
  display :flex;  
  gap: 5px;
  padding: 0;
}

ul li button{
  border:none;
  color: white;
  background: red;
  border-radius: 5px;
  width: 100px;
}
ul li button:hover{
  background: darkred;
  
}

img{
  width: 200px;
  height: 150px;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
}

.img-div{
  width: 200px;
  height: 150px;
  overflow: hidden;
  border: 5px solid transparent;
}
img:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.image-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  max-width: 60%;
  justify-content: center;
  margin-top: 50px;
}
