body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;

}
h1{
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
  
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  max-width: 100dvw;
  padding: 0;
}

input{
  width: 20rem;
  padding: 10px;
  border: 2px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  
}

button{
  padding: 10px;
  border: 2px solid black;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  
}
button:hover{
  cursor:pointer;
  background: #f2f2f2;
}

input:focus, input:focus + button{
  outline: none;
  transform:scale(1.05)
}

input, button{
  transition: all 0.3s ease;
}

ul{
  list-style: none;
  display :flex;  
  gap: 5px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

ul li button{
  border:none;
  color: white;
  background: red;
  border-radius: 5px;
  width: 100px;
}
ul li button:hover{
  background: darkred;
  
}

@media (max-width: 768px){
  input{
    width: 15rem;
  }
  ul li button{
    width: 80px;
  }
}

@media (max-width: 500px){
  input{
    width: 10rem;
  }
  ul li button{
    width: 120px;
  }
}

img{
  width: 200px;
  height: 150px;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
}

.img-div{
  width: 200px;
  height: 150px;
  overflow: hidden;
  border: 5px solid transparent;
}
img:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.image-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  max-width: 60%;
  justify-content: center;
  padding-bottom: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loading{
  animation: spin 2s linear infinite;
  width: 80px;
  height: 80px;
  border: 5px solid #d2d2d2;
  border-top: 5px solid red;
  border-radius: 50%;
  margin: 20px auto;
}